@charset "UTF-8";
* {
	margin: 10;
	padding: 10;
}

body {
	background: linear-gradient(130deg, #7389d0, #eebdc3);
	background-attachment: fixed;
}

h1, h4 {
	/* 상단 로고 부분 */
	color: white;
	text-shadow: 0px 0px 20px rgb(234, 237, 176);
}

h1 {
	text-align: center;
	font-size: 70px;
	height: 50px;
}

h4 {
	font-size: 28px;
	text-align: center;
}

@
keyframes sparkle {from { background-position:0%100%;
	
}

to {
	background-position: 200% 100%;
}

}
section {
	/* 개인정보 등록하는 부분을 감싼 옅은 선 */
	display: grid;
	justify-items: center;
}

fieldset {
	/* 개인정보 등록하는 부분을 감싼 옅은 선 */
	border-radius: 20px;
	display: grid;
	justify-items: center;
}

table {
	border-collapse: collapse;
}

.joinTable th, .joinTable td {
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.joinTable th {
	text-align: center;
	background-color: gray;
	border-radius: 15px;
	margin: 10px 0px;
}

.joinTable td {
	width: 400px;
}

.joinTable td#id_check {
	width: 100px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
}

.joinTable .textForm {
	width: 300px;
	height: 30px;
	border: 0;
	border-radius: 5px;
}

.joinTable:hover .textForm:hover {
	animation: sparkle 4s infinite linear;
	background: linear-gradient(90deg, #7389d0, #eebdc3, #7389d0);
	background-size: 300% 100%;
	border-radius: 4px;
	z-index: -1;
	transform: scale(0.99) translateY(3px);
}

.joinTable .btn {
	
}

.btn {
	display: inline-block;
	color: rgb(90, 90, 90);
	transition: all 0.3s ease-out;
	background: linear-gradient(270deg, rgba(223, 190, 106, 0.8),
		rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
	background-position: 1% 50%;
	background-size: 300% 300%;
	border: 1px solid rgba(223, 190, 106, 0.3);
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
}

.btn:hover {
	background-position: 99% 50%;
}

button {
	cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
}