<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.gallery.persistance.ext.FileDao">

	<select id="selectAll"></select>
	<select id="findById"></select>
	<insert id="insert"></insert>
	<update id="update"></update>
	<delete id="delete"></delete>
	<update id="create_table">
		create table if not exists tbl_files(
		file_seq BIGINT auto_increment primary key,
		file_gseq BIGINT not null ,
		file_original VARCHAR(125) not null ,
		file_upname VARCHAR(125) not null
		)
	</update>
</mapper> 